table {
    width: 100%;
}

.container {
    margin: auto;
    width: 70%;
    padding: 30px;
}


  
.mat-raised-button{
    margin: 17px !important;
}

.mat-form-field-infix {
    width: 283px !important; 
}

.addClass{
    color: red;
}

.red-text{
    background-color: red;
}

.green-text{
    background-color: green;
}
.cyan-text{
    background-color: cyan;
}